@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@500&display=swap");

.absoluteContainer {
  width: 300px;
  height: 80px;
  position: absolute;
  background-color: #ffffffc4;
  color: #072130;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: 80px;
  background-color: white;
  font-style: Poppins, sans-serif;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px #acacac;
  background-repeat: no-repeat;
  background-size: cover;
}

.container:hover {
  box-shadow: 0px 0px 5px 1px #ff0303;
}

.containerOne {
  width: 100%;
  height: 60%;
  // background-color: green;

  .containerOneLabel {
    width: 100%;
    height: 35%;
    background-color: #e1e1e1;
    color: #062130;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    padding-left: 5px;
  }
}
.containerTwo {
  width: 100%;
  height: 40%;
  //   background-color: purple;
  overflow: hidden;

  //

  .containerTwoInside {
    width: 500px;
    height: 50px;
    // background-color: #1f2430;
    background-color: #062130;
    transform: rotate(-5.8deg);
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .repoBoxButton {
    margin: -20px 0 0 50px;
    transform: rotate(5deg);
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    // background-color: white;
    color: #bcbcbc;
    justify-content: center;
    align-items: center;
  }
}

// Media Query
