@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@500&display=swap");

$hColors: #232930;
$borderBottomForPreview: #d7dee5;

// .wrapper {
//   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//   //   background-color: red;
//   width: 100%;
//   //   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;

// MARKDOWN STYLES
// Header Style
.wrapper {
  font-size: 16px;
  transition: 0.5s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  padding: 0px 200px 0px 200px;

  width: 100%;
  //   height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .hljs {
    background-color: transparent;
  }
  p {
    line-height: 2;
  }
  // *********************************
  h1 {
    padding-bottom: 8px;
    color: $hColors;
    border-bottom: 1px solid $borderBottomForPreview;
    // display: flex;
    // justify-content: space-around;

    img {
      // width: 30px;
      height: 30px;
      // padding-top: 5px;
      // padding-left: 10px;
      // background-color: red;
    }
  }

  h1 img:first-child {
    padding-left: 300px;
  }
  // *********************************
  h2 {
    padding-bottom: 8px;
    color: $hColors;
    border-bottom: 1px solid $borderBottomForPreview;
    display: flex;

    img {
      width: 30px;
      height: 30px;
      padding-top: 5px;
      padding-left: 10px;
    }
  }

  h2 img:first-child {
    padding-left: 300px;
  }
  // h3 {
  // }
  h4 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
  }
  // h5 {
  // }
  h6 {
    font-size: 0.8em;
  }

  p > code {
    padding: 5px;
    border-radius: 5px;
    // background-color: #e8ebef;
    font-size: 0.9em;
  }

  pre {
    display: block;
    overflow: hidden;
    // background: #f6f8fa;
    padding: 10px 0 10px 20px;
    margin-left: 20px;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 0.8em;
    font-family: Poppins, sans-serif;
    // color: #232930;
    font-weight: 600;
  }

  // Link Design
  p > a {
    color: #004fc7;
    text-decoration: none;
  }
  p > a:hover {
    text-decoration: underline;
  }

  // blockquote desing >
  blockquote {
    // background-color: red;
    height: 20px;
    border-left: 3px solid #beceed;

    p {
      padding-left: 15px;
      color: #6c6f78;
      font-weight: 500;
    }
  }

  //  Table design
  table {
    border-collapse: collapse;
    // background-color: green;
    border: 1px solid #beceed;

    // Table head
    thead {
      border-bottom: 1px solid #beceed;
      // Table row
      tr {
        // Table Header
        th {
          // background-color: orange;
          border-right: 1px solid #beceed;
          padding: 10px;
          // color: #232930;
        }
      }
    }
    // *********************************
    // Table Body
    tbody {
      // Table row
      tr {
        border-bottom: 1px solid #beceed;
        //
        // Table Data
        td {
          // background-color: red;
          border-right: 1px solid #beceed;
          text-align: center;
          padding: 10px;
          // color: #232930;

          code {
            padding: 5px;
            border-radius: 5px;
            background-color: #e8ebef;
            font-size: 0.9em;
          }
        }
      }
    }
  }

  ul {
    font-size: 1em;
    line-height: 1.5em;
    // color: #232930;
    font-weight: 500;
  }
  li {
    a {
      text-decoration: none;
      color: #004fc7;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  ol {
    font-size: 1em;
    line-height: 1.8em;
    // color: #232930;
    font-weight: 500;
  }

  img {
    display: block;
    max-width: 90%;
  }

  // Customs Div Markdown styles
  #badges {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;

    p {
      // background-color: green;
      width: 100px;
      height: 30px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 80%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0px 150px 0px 150px;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    padding: 0px 100px 0px 100px;
  }
}
@media (max-width: 850px) {
  .wrapper {
    padding: 0px 60px 0px 60px;
  }
}
@media (max-width: 780px) {
  .wrapper {
    padding: 0px 40px 0px 40px;
  }
}
@media (max-width: 740px) {
  .wrapper {
    padding: 0px 20px 0px 20px;
  }
}
// .wrapper::-webkit-scrollbar {
//   width: 4px;
// }

// .wrapper::-webkit-scrollbar-track {
//   // background: orange; /* color of the tracking area */
//   width: 4px;
// }
// .wrapper::-webkit-scrollbar-thumb {
//   // background-color: blue; /* color of the scroll thumb */
//   border-radius: 20px; /* roundness of the scroll thumb */
//   border: 3px solid orange; /* creates padding around scroll thumb */
//   cursor: pointer;
// }
